<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/common_styles.css" th:href="@{/css/common_styles.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Movies Api</title>
</head>
<body>
    <div id="main_page">
        <div id="header">
            <form method="get" th:action="@{/logout}">

                <button class="child" formmethod="get" formaction="/myTransactions">My Transactions</button>
                <button class="child" style="margin-left: 10px" formmethod="get" formaction="/api/moviesApi">See Api</button>
                <button class="child" style="margin-left: 10px" >Log out</button>
                <button class="childD" formaction="/deleteUser">Delete account</button>
            </form>
        </div>
        <div class="box">
            <form method="post">
                <h2 id="result" th:text="${result}"></h2>
                <input id="MovieName" type="text" name="name" placeholder="Name">
                <input id="MovieRate" type="text" name="rate" placeholder="Rate">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="button">Create</button>
                <button style="margin-left:10px;" class="button" formmethod="get" formaction="listMovies">See Top</button>
            </form>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>